@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script src="http://fb.me/react-0.9.0.js"></script>
        <script src="http://fb.me/JSXTransformer-0.9.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" media="screen" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" type="text/css" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" type="text/css">
        <!-- <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="@routes.Assets.at("stylesheets/mobile.css")" type="text/css" /> -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/dumbbell.jpg")">
    </head>
    <body>
        <div id="nav">
            <div id="top_bar_title">escape</div>
            <div class="top_bar_item">Try Escape</div>
            <div class="top_bar_item">Destinations</div>
            <div class="top_bar_item">Outposts</div>
            <div class="top_bar_item">Search</div>
        </div>
    	<h1>@title</h1>
        <div id="content"></div>
        <script type="text/jsx" src="/assets/javascripts/escape.js"></script>
        @content
    </body>
</html>
